@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap');

body {
  background-color: #FDCFB2;
  font-size: 20px;
  /* font-family: 'Hachi Maru Pop', cursive; */
  font-family: 'Roboto Mono', monospace;

}

/* #title {
  background-color: yellow;
  padding: 40px;
  width: auto;
  color: red;
  font-weight: 800;
  margin: auto;
} */

h1 {
  text-align: center;
}
h2 {
  font-weight: 100; 
  text-align: center;
}

h3 {
  text-align: center;
  /* border-bottom: 3px solid red; */
  /* width: 450px; */
  /* margin: auto; */
}

ul {
  list-style-type: none;
  /* margin-left: -50px; */
  /* padding: 25px; */
  overflow: hidden;
  background-color: #474350;
}

hr {
  color: red;
  border: 2px solid red;
  border-radius: 2px;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  background-color: #474350;
}

li a:hover {
  transform: scale(1.3);
  background-color: red;
}

main {
  /* text-align: center; */
  width: 60%;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
  background-color: #F8FFF4;
  height:auto;
  overflow:auto;

}

.class {
  height: 400px;
  width: auto;
}

.class2 {
  height: 400px;
  width: 800px;
}

.syntax {
  margin-top: 20px;
  height: auto;
  width: auto;
}

.syntax2 {
  /* margin-top: 20px; */
  height: 500px;
  width: auto;
}

.best {
  font-size: 20px;
  font-weight: 800;
}

.left {
  /* float: left; */
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 
p {
  background-color: #CED3DC;
  opacity: 2;
  padding: 20px;;
} 

p:hover {
  transform: scale(1.02);
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 5px #474350;
}

.important {
  color: red;
}

figcaption {
  text-align: center;
  margin-top: 21px;
  background-color: black;
  color: white;
}